.divImgProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.imgProfile{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.nameProfile{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.tagProfile{
    font-size: 18px;
    color: #6c757d;
    margin-bottom: 10px;
}

.locationProfile{
    font-size: 16px;
    color: #6c757d;
    margin-bottom: 20px;
}

.listProfile{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    list-style: none;
    border-top: 1px solid #ddd;
}

.itemsListprofile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 33.33%;
    box-sizing: border-box;
}

.followersTextProfile{
    font-size: 18px;
    color: #6c757d;
    margin-bottom: 5px;
}

.followersProfile{
    font-size: 24px;
    font-weight: bold;
}

.viewsTextProfile{
    font-size: 18px;
    color: #6c757d;
    margin-bottom: 5px;
}

.viewsProfile{
    font-size: 24px;
    font-weight: bold;
}

.likesTextProfile{
    font-size: 18px;
    color: #6c757d;
    margin-bottom: 5px;
}

.likesProfile{
    font-size: 24px;
    font-weight: bold;
}