.cardProfile{
    border: 1px solid black;
    width: 400px;
}

.divImgProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.imgProfile{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.nameProfile{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.tagProfile{
    font-size: 18px;
    color: #6c757d;
    margin-bottom: 10px;
}

.locationProfile{
    font-size: 16px;
    color: #6c757d;
    margin-bottom: 20px;
}

.listProfile{
    display: flex;
    justify-content: space-between;
    padding: 0;
    background-color: #6c757d;
    border: 1px solid black;
}

.itemsListprofile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 33.33%;
    box-sizing: border-box;
    border: 1px solid black;
}

.followersTextProfile{
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-bottom: 5px;
}

.followersProfile{
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.viewsTextProfile{
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-bottom: 5px;
}

.viewsProfile{
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.likesTextProfile{
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-bottom: 5px;
}

.likesProfile{
    font-size: 24px;
    font-weight: bold;
    color: black;
}