.tableTransaction {
    width: 500px;
    border-collapse: collapse;
}

.theadTransaction {
    background-color: black;
}

.trTransaction {
    height: 40px;
}

.thTransactionType {
    font-weight: bold;
    padding-left: 20px;
    color: white;
    border: 1px solid white;
}

.thTransactionAmount {
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
    color: white;
    border: 1px solid white;
}

.thTransactionCurrency {
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
    color: white;
    border: 1px solid white;
}

.tdType {
    padding-left: 20px;
    border: 1px solid black;
}

.tdAmount {
    text-align: right;
    padding-right: 20px;
    border: 1px solid black;
}

.tdCurrency {
    text-align: right;
    padding-right: 20px;
    border: 1px solid black;
}
